{% extends 'base.html' %}
{% load webdesign %}

{% block title %}Выбор шаблона - Redstack{% endblock %}

{% block ng-app %}PatternApp{% endblock %}

{% block main %}
    <div class="page_wrap">
        <div class="container">
            <div class="row title_wrap">
                <div class="col-md-12 text-center">
                    <h1>Выбор шаблона</h1>
                </div>
            </div>
            {% if patterns %}
                {% with form_name='PatternForm' %}
                    <form name="{{ form_name }}" ng-submit="form.submit('{{ request.path }}')"
                          ng-controller="{{ form_name }}Ctrl" role="form" ng-cloak>
                        {% csrf_token %}
                        <div class="alert alert-danger" ng-show="form.errors.__all__">
                            <span ng-repeat="err in form.errors.__all__">[% err %]<br/></span>
                        </div>

                        <div class="row input_wrap">
                            <span ng-repeat="err in form.errors.name" style="color:#8A6D3B;">[% err %]<br/></span>

                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-3 field">
                                    <input name="name" ng-model="form.fields.name" class="form-control"
                                           placeholder="Название сайта" type="text" required>
                                <span ng-show="form.errors.name"
                                      class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                </div>
                                <div class="col-md-2 field">
                                    <button class="btn btn-success btn-block" type="button" ng-click="generate_name()">
                                        Случайное
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row pattern_wrap" ng-init="blurs=build({{ patterns|length }})">
                            <span ng-repeat="err in form.errors.pattern" style="color:#8A6D3B;">[% err %]<br/></span>

                            {% for pattern in patterns %}
                                <div class="col-xs-12 col-md-4 pw_item">
                                    <img src="{{ pattern.img.url }}" ng-class="blurs.{{ forloop.counter0 }}"
                                         ng-mouseenter="active({{ forloop.counter0 }})" ng-mouseleave="deactive()"
                                         ng-click="set_img('{{ pattern.id }}')" class="img-rounded img-responsive">
                                    <input name="pattern" ng-model="form.fields.pattern" type="radio"
                                           value="{{ pattern.id }}" ng-checked="form.fields.pattern"
                                           ng-required="!form.fields.pattern">
                                </div>
                            {% endfor %}
                        </div>

                        <div class="row button_wrap">
                            <div class="col-md-2 col-md-offset-5">
                                <button class="btn btn-success btn-block [% form.loader.selector %] ladda-button"
                                        ng-disabled="{{ form_name }}.$invalid" data-style="zoom-out">Создать
                                </button>
                            </div>
                        </div>
                    </form>
                {% endwith %}
            {% else %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>По выбранному тарифу шаблонов не найдено</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/pattern{% if not debug %}.min{% endif %}.css" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/pages{% if not debug %}.min{% endif %}.js"></script>
{% endblock %}