{% load webdesign %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Redstack{% endblock %}</title>

    <link href="{{ STATIC_URL }}bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ladda/css/ladda-themeless.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    {% block extra_css %}{% endblock %}
</head>
<body ng-app="{% block ng-app %}{% endblock %}">
<div class="body_wrap">
    <div class="content_wrap">
        <header ng-controller="SignCtrl">
            <div class="container">
                <div class="row">
                    <div class="h_logo col-xs-5 col-sm-5 col-md-3">
                        <a href="{% url 'pages:index' %}" class="not-hover"><strong><span>RED</span>stack</strong></a>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="h_user col-xs-3 col-sm-3 col-md-2 pull-right">
                            <button type="button" ng-click="logout('{% url 'account:logout' %}')"
                                    class="btn btn-entry btn-block">Выйти
                            </button>
                        </div>
                        <div class="h_user col-xs-3 col-sm-3 col-md-2 pull-right">
                            <div class="h_email">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <a href="{% url 'account:profile' %}">{{ user.email }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="h_user col-xs-3 col-sm-3 col-md-2 pull-right">
                            <button type="button" ng-click="login()" class="btn btn-entry btn-block">Войти</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        {% block main %}{% endblock %}
    </div>
    <footer>
        <div class="footer_wrap">
            <div class="ft_wrap">
                <div class="container">
                    <div class="row">
                        <div class="ft_logo col-md-3">
                            <strong><span>RED</span>stack</strong>
                        </div>
                        <div class="ft_block col-md-3">
                            <h4>{% lorem 1 w random %}</h4>
                            <ul class="list-unstyled">
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                            </ul>
                        </div>
                        <div class="ft_block col-md-3">
                            <h4>{% lorem 1 w random %}</h4>
                            <ul class="list-unstyled">
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                                <li><a href="">{% lorem 1 w random %}</a></li>
                            </ul>
                        </div>
                        <div class="ft_block col-md-3">
                            <h4>{% lorem 1 w random %}</h4>
                            <ul class="list-unstyled">
                                <li><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;<a
                                        href="">{% lorem 2 w random %}</a></li>
                                <li><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;&nbsp;<a
                                        href="">{% lorem 2 w random %}</a></li>
                                <li><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;<a
                                        href="">{% lorem 2 w random %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fb_wrap">
                <div class="container">
                    <div class="row">
                        <div class="fb_copy col-md-5">
                            Copyright © Redstack 2014 Все права защищены
                        </div>
                        <div class="fb_author"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

{% include 'incl/login_form.html' %}

<!-- support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
<script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
<![endif]-->
<script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}ladda/js/spin.min.js"></script>
<script src="{{ STATIC_URL }}ladda/js/ladda.min.js"></script>

<script>
    // константы
    window.check_user_auth_url = '{% url 'account:check_user_auth_url' %}';
</script>

<script src="{{ STATIC_URL }}js/pages/cookies.js"></script>
<script src="{{ STATIC_URL }}js/user/user.js"></script>
<script src="{{ STATIC_URL }}js/user/factory.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
