{% extends 'base.html' %}
{% load webdesign %}

{% block title %}Выбор шаблона - Redstack{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pattern.css">
{% endblock %}

{% block main %}
    <div class="page_wrap">
        <div class="container">
            <div class="row title_wrap">
                <div class="col-md-12 text-center">
                    <h1>Выбор шаблона</h1>
                </div>
            </div>
            <form name="PatternForm" action="{{ request.path }}" method="POST" ng-controller="FormCtrl" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-4 col-md-offset-4">
                        <input name="email" type="email" class="form-control" ng-model="email" placeholder="Ваш email"
                               required>
                    </div>
                </div>
                <div class="row pattern_wrap" ng-init="img_count={{ images|length }}">
                    {% for image in images %}
                        <div class="col-xs-12 col-md-4 pw_item">
                            <img src="{{ STATIC_URL }}img/{{ image.path }}" alt="..."
                                 ng-class="blurs.{{ forloop.counter0 }}" ng-mouseenter="active({{ forloop.counter0 }})"
                                 ng-mouseleave="deactive()" ng-click="set_img({{ forloop.counter0 }})"
                                 class="img-rounded img-responsive">
                            <input type="radio" name="template" ng-checked="check.{{ forloop.counter0 }}"
                                   ng-model="template" value="{{ image.val }}" ng-required="mutex===false">
                        </div>
                    {% endfor %}
                </div>
                <div class="row button_wrap">
                    <div class="col-md-2 col-md-offset-5">
                        <input type="submit" class="btn btn-success btn-block" ng-disabled="PatternForm.$invalid"
                               value="Создать">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/pages/pattern.js"></script>
{% endblock %}