@font-face {
  font-family: Als_rublregular;
  src: url("../fonts/rouble/rouble-webfont.eot");
  src: url("../fonts/rouble/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble/rouble-webfont.woff") format("woff"), url("../fonts/rouble/rouble-webfont.ttf") format("truetype"), url("../fonts/rouble/rouble-webfont.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FingerPaintRegular';
  src: url("../fonts/FingerPaint-Regular/fingerpaint-regular.eot");
  src: url("../fonts/FingerPaint-Regular/fingerpaint-regular.eot") format("embedded-opentype"), url("../fonts/FingerPaint-Regular/fingerpaint-regular.woff") format("woff"), url("../fonts/FingerPaint-Regular/fingerpaint-regular.ttf") format("truetype"), url("../fonts/FingerPaint-Regular/fingerpaint-regular.svg#FingerPaintRegular") format("svg"); }
.rub {
  font-family: Als_rublregular; }

.btn-entry {
  color: #ffffff;
  background-color: #5CB85C;
  border-color: #fff; }

.btn-entry:hover,
.btn-entry:focus,
.btn-entry:active,
.btn-entry.active,
.open .dropdown-toggle.btn-entry {
  color: #ffffff;
  background-color: #47A447;
  border-color: #fff; }

.btn-entry:active,
.btn-entry.active,
.open .dropdown-toggle.btn-entry {
  background-image: none; }

.btn-entry.disabled,
.btn-entry[disabled],
fieldset[disabled] .btn-entry,
.btn-entry.disabled:hover,
.btn-entry[disabled]:hover,
fieldset[disabled] .btn-entry:hover,
.btn-entry.disabled:focus,
.btn-entry[disabled]:focus,
fieldset[disabled] .btn-entry:focus,
.btn-entry.disabled:active,
.btn-entry[disabled]:active,
fieldset[disabled] .btn-entry:active,
.btn-entry.disabled.active,
.btn-entry[disabled].active,
fieldset[disabled] .btn-entry.active {
  background-color: #5CB85C;
  border-color: #fff; }

.btn-entry .badge {
  color: #5CB85C;
  background-color: #ffffff; }

html, body {
  height: 100%;
  background: white; }

.content_wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 200px; }
  @media (max-width: 767px) {
    .content_wrap {
      padding-bottom: 240px; } }

.header {
  background: #5cb85c; }
  .header .h_logo {
    padding: 15px 0 10px;
    font-family: 'FingerPaintRegular';
    font-size: 3em; }
  .header .h_user {
    padding-top: 25px; }

.footer {
  padding-top: 20px;
  background: #333;
  color: #fff;
  margin-top: -200px;
  height: 200px; }
  @media (max-width: 767px) {
    .footer {
      margin-top: -240px;
      height: 240px; } }
