@import 'fonts';
@import 'mixins';
@import 'vars';
@import 'over';
@import 'class';

html, body {
  height: 100%;
  background: $body_color;
}

.body_wrap {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.content_wrap {
  display: table-row;
  header {
    background: $green_color;
    .h_logo {
      padding: 15px 0 10px;
      font-family: 'FingerPaintRegular';
      font-size: 3em;
      a {
        color: #222;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .h_user {
      padding-top: 25px;
    }
  }
}

footer {
  display: table-footer-group;
  overflow: hidden;
  .footer_wrap {
    display: table-row;
    height: 1%;
    .ft_wrap {
      padding: 20px 0 10px;
      background: #222;
      .ft_logo {
        color: #000;
        font-size: 2em;
        font-family: FingerPaintRegular;
      }
      .ft_block {
        h4 {
          color: #fff;
          font-weight: bold;
        }
        span {
          color: $green_color;
        }
        ul li a {
          color: #888;
        }
      }
    }
    .fb_wrap {
      padding: 15px 0 10px;
      background: #111;
    }
  }
}