@font-face {
  font-family: Als_rublregular;
  src: url("../fonts/rouble/rouble-webfont.eot");
  src: url("../fonts/rouble/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble/rouble-webfont.woff") format("woff"), url("../fonts/rouble/rouble-webfont.ttf") format("truetype"), url("../fonts/rouble/rouble-webfont.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FingerPaintRegular';
  src: url("../fonts/FingerPaint-Regular/fingerpaint-regular.eot");
  src: url("../fonts/FingerPaint-Regular/fingerpaint-regular.eot") format("embedded-opentype"), url("../fonts/FingerPaint-Regular/fingerpaint-regular.woff") format("woff"), url("../fonts/FingerPaint-Regular/fingerpaint-regular.ttf") format("truetype"), url("../fonts/FingerPaint-Regular/fingerpaint-regular.svg#FingerPaintRegular") format("svg"); }
.rub {
  font-family: Als_rublregular; }

.btn-entry {
  color: #ffffff;
  background-color: #5CB85C;
  border-color: #fff; }

.btn-entry:hover,
.btn-entry:focus,
.btn-entry:active,
.btn-entry.active,
.open .dropdown-toggle.btn-entry {
  color: #ffffff;
  background-color: #47A447;
  border-color: #fff; }

.btn-entry:active,
.btn-entry.active,
.open .dropdown-toggle.btn-entry {
  background-image: none; }

.btn-entry.disabled,
.btn-entry[disabled],
fieldset[disabled] .btn-entry,
.btn-entry.disabled:hover,
.btn-entry[disabled]:hover,
fieldset[disabled] .btn-entry:hover,
.btn-entry.disabled:focus,
.btn-entry[disabled]:focus,
fieldset[disabled] .btn-entry:focus,
.btn-entry.disabled:active,
.btn-entry[disabled]:active,
fieldset[disabled] .btn-entry:active,
.btn-entry.disabled.active,
.btn-entry[disabled].active,
fieldset[disabled] .btn-entry.active {
  background-color: #5CB85C;
  border-color: #fff; }

.btn-entry .badge {
  color: #5CB85C;
  background-color: #ffffff; }

span.glyphicon {
  color: #5cb85c; }

a.not-hover:hover {
  text-decoration: none; }

html, body {
  height: 100%;
  background: white; }

.body_wrap {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 100%; }

.content_wrap {
  display: table-row; }
  .content_wrap header {
    background: #5cb85c; }
    .content_wrap header .h_logo {
      padding: 1em 0; }
      .content_wrap header .h_logo a {
        color: #222222;
        font-size: 3em;
        font-family: FingerPaintRegular; }
    .content_wrap header .h_user {
      padding-top: 1.95em; }
      .content_wrap header .h_user .h_email {
        text-align: right;
        padding-top: 0.55em; }
        .content_wrap header .h_user .h_email .glyphicon, .content_wrap header .h_user .h_email a {
          color: #fff; }

footer {
  display: table-footer-group;
  overflow: hidden; }
  footer .footer_wrap {
    display: table-row;
    height: 1%; }
    footer .footer_wrap .ft_wrap {
      padding: 20px 0 10px;
      background: #222; }
      @media only screen and (max-width: 992px) {
        footer .footer_wrap .ft_wrap {
          text-align: center; } }
      footer .footer_wrap .ft_wrap .ft_logo {
        color: black;
        font-size: 2em;
        font-family: FingerPaintRegular; }
      footer .footer_wrap .ft_wrap .ft_block h4 {
        color: #fff;
        font-weight: bold; }
      footer .footer_wrap .ft_wrap .ft_block span {
        color: #5cb85c; }
      footer .footer_wrap .ft_wrap .ft_block ul li a {
        color: #888; }
    footer .footer_wrap .fb_wrap {
      padding: 15px 0 10px;
      background: #111; }
