@import 'fonts';
@import 'mixins';
@import 'vars';
@import 'over';

.title_wrap {
  padding-top: 40px;
  padding-bottom: 30px;
  background: $blue_color;
  color: #fff;
}

.price_wrap {
  background-image: linear-gradient($blue_color 30%, transparent 30%);
  .row {
    box-shadow: 0 0 5px #555;
    background: rgba(255, 255, 255, 0.85);
    .col-md-4 {
      &.first {
        background: url('../img/dot.png') 100% 0 repeat-y;
      }
      @media screen and (max-width: 992px) {
        &.first {
          background: url('../img/dot.png') 0 100% repeat-x;
        }
      }
      &.last {
        background: url('../img/dot.png') 0 0 repeat-y;
      }
      @media screen and (max-width: 992px) {
        &.last {
          background: url('../img/dot.png') 0 0 repeat-x;
        }
      }
      .p_title {
        font-size: 4em;
        padding-top: 20px;
        font-weight: bold;
        color: #777;
        span {
          font-size: 0.3em;
        }
        h5 {
          font-weight: bold;
          margin-top: 0;
          color: #000;
        }
      }
      .p_content {
        padding-top: 60px;
        font-size: 1.1em;
        color: #555;
        ul {
          padding-bottom: 30px;
          li {
            padding-bottom: 15px;
            span.glyphicon {
              color: $green_color;
            }
          }
        }
        button {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .price_wrap {
    background-image: none;
  }
}

.extra_wrap {
  padding-top: 50px;
  padding-bottom: 30px;
  .e_list {
    padding-top: 30px;
    color: #555;
    span.glyphicon {
      color: $green_color;
    }
    @media screen and (max-width: 992px) {
      .el_column {
        text-align: center;
      }
    }
  }
}