@import 'fonts';
@import 'mixins';
@import 'vars';
@import 'over';

.title_wrap {
  padding-top: 40px;
  padding-bottom: 30px;
  background: $blue_color;
  color: #fff;
}

.price_wrap {
  background-image: linear-gradient($blue_color 30%, transparent 30%);
  @include respond-to(small-screen) {
    background-image: none;
  }
  .row {
    box-shadow: 0 0 5px #555;
    background: rgba(255, 255, 255, 0.85);
    .p_title {
      font-size: 4em;
      padding-top: 20px;
      font-weight: bold;
      color: #777;
      span {
        font-size: 0.3em;
      }
      h5 {
        margin-top: 0;
        color: #000;
      }
    }
    .p_content {
      padding-top: 60px;
      font-size: 1.1em;
      color: #555;
      ul {
        padding-bottom: 30px;
        li {
          padding-bottom: 15px;
        }
      }
      button {
        margin-bottom: 30px;
      }
    }
    .first {
      background: url('../img/dot.png') 100% 0 repeat-y;
      @include respond-to(small-screen) {
        background-position: 0 100%;
        background-repeat: repeat-x;
      }
    }
    .last {
      background: url('../img/dot.png') 0 0 repeat-y;
      @include respond-to(small-screen) {
        background-position: 0 0;
        background-repeat: repeat-x;
      }
    }
  }
}

.extra_wrap {
  padding: 50px 0 30px;
  .e_list {
    padding-top: 30px;
    color: #555;
    .el_column {
      @include respond-to(small-screen) {
        text-align: center;
      }
      &.el_last {
        padding-left: 70px;
        @include respond-to(small-screen) {
          padding-left: 0;
        }
      }
    }
  }
}