@import 'fonts';
@import 'mixins';
@import 'vars';
@import 'over';
@import 'class';

.title_wrap {
  padding-top: 40px;
  padding-bottom: 30px;
  background: #3b4557;
  color: #fff;
}

.price_wrap {
  background-image: linear-gradient(#3b4557 30%, transparent 30%);
  .row {
    box-shadow: 0 0 5px #000;
    background: rgba(255, 255, 255, 0.85);
    .col-md-4 {
      &.first {
        background: url('../img/dot.png') 100% 0 repeat-y;
      }
      &.last {
        background: url('../img/dot.png') 0 0 repeat-y;
      }
      .p_title {
        font-size: 4em;
        padding-top: 20px;
        font-weight: bold;
        color: #777;
        span {
          font-size: 0.3em;
        }
        h5 {
          font-weight: bold;
          margin-top: 0;
          color: #000;
        }
      }
      .p_content {
        padding-top: 50px;
        font-size: 1.1em;
        color: #555;
        ul {
          padding-bottom: 30px;
          li {
            padding-bottom: 15px;
            span.glyphicon {
              color: #5DC560;
            }
          }
        }
        button {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.extra_wrap {
  height: 100px;
}