@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin logo-text($color, $size) {
  color: $color;
  font-size: $size;
  font-family: FingerPaintRegular;
}