@import 'fonts';
@import 'mixins';
@import 'vars';
@import 'over';

.title_wrap {
  padding-bottom: 20px;
}

.input_wrap {
  .field {
    padding-bottom: 20px;
  }
}

.pattern_wrap {
  .pw_item {
    padding-bottom: 20px;
    img {
      margin: 0 auto;
      @include transition(opacity, 0.5s, ease);
      &.blur {
        opacity: 0.3;
      }
    }
    input {
      display: none;
    }
  }
  padding-bottom: 30px;
}

.button_wrap {
  padding-bottom: 50px;
}