<form name="LoginForm" ng-submit="submit()" ng-controller="LoginFormCtrl" role="form"
      ng-init="submit_url='{% url 'account:login' %}'" class="form center-block">
    {% csrf_token %}
    <div class="form-group">
        <input name="username" ng-model="formData.username" class="form-control" placeholder="Имя" type="text">
    </div>
    <div class="form-group">
        <input name="password" ng-model="formData.password" class="form-control" placeholder="Пароль" type="password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block btn-submit-login ladda-button" ng-disabled="LoginForm.$invalid"
                data-style="zoom-out">
            <span class="ladda-label">Войти</span>
            <span class="ladda-spinner"></span>
        </button>
    </div>
    <div class="form-group">
        <span class="pull-right">
            <a href="#">Зарегистрироваться</a>
        </span>
    </div>
</form>