<div class="modal fade" id="user-popup-modal" tabindex="-1" role="dialog" ng-controller="UserPopupCtrl"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <!-- login popup -->

        <div class="modal-content" ng-show="popup.is_active(popup.states.LOGIN)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Вход</h4>
            </div>
            <div class="modal-body">
                {% include 'account/incl/forms/login_form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
            </div>
        </div>


        <!-- register popup -->

        <div class="modal-content" ng-show="popup.is_active(popup.states.REGISTER)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Регистрация</h4>
            </div>
            <div class="modal-body">
                {% include 'account/incl/forms/register_form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
            </div>
        </div>


        <!-- password forgot popup -->

        <div class="modal-content" ng-show="popup.is_active(popup.states.FORGOT)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Восстановление пароля</h4>
            </div>
            <div class="modal-body">
                {% include 'account/incl/forms/forgot_form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
            </div>
        </div>

        <!-- password change popup -->

        <div class="modal-content" ng-show="popup.is_active(popup.states.CHANGE)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Смена пароля</h4>
            </div>
            <div class="modal-body">
                {% include 'account/incl/forms/change_form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
            </div>
        </div>

    </div>
</div>