<form name="RegisterForm" ng-submit="submit('{% url 'account:registration' %}')" role="form"
      ng-controller="RegisterFormCtrl" class="form center-block">
    {% csrf_token %}
    <div class="form-group">
        <input name="email" ng-model="formData.email" class="form-control" placeholder="E-mail" type="text">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block btn-submit-register ladda-button" ng-disabled="LoginForm.$invalid"
                data-style="zoom-out">
            <span class="ladda-label">Готово</span>
            <span class="ladda-spinner"></span>
        </button>
    </div>
    <div class="form-group">
        <span class="pull-right">
            <a href="#" ng-click="openLogin()">Уже есть аккаунт</a>
        </span>
    </div>
</form>