@import 'vars';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property, $second, $method) {
  -webkit-transition: $property $second $method;
  -moz-transition: $property $second $method;
  -ms-transition: $property $second $method;
  -o-transition: $property $second $method;
  transition: $property $second $method;
}

@mixin logo-text($color, $size) {
  color: $color;
  font-size: $size;
  font-family: FingerPaintRegular;
}

@mixin respond-to($media) {
  @if $media == small-screen {
    @media only screen and (max-width: $monitor-medium) {
      @content;
    }
  } @else if $media == large-screen {
    @media only screen and (min-width: $monitor-medium) {
      @content;
    }
  }
}