{% with form_name='PasswordChangeForm' %}

    <form name="{{ form_name }}" ng-submit="form.submit('{% url 'account:password_change' %}')" role="form"
          ng-controller="{{ form_name }}Ctrl" class="form center-block">
        {% csrf_token %}
        <div class="alert alert-success" ng-show="form.success_message()" ng-bind-html="form.success_message()"></div>

        <div class="alert alert-danger" ng-show="form.errors.__all__">
            <span ng-repeat="err in form.errors.__all__">[% err %]<br/></span>
        </div>

        <span ng-repeat="err in form.errors.old_password" style="color:#8A6D3B;">[% err %]<br/></span>

        <div class="form-group" ng-class="{'has-warning has-feedback': form.errors.old_password}">
            <input name="old_password" ng-model="form.fields.old_password" class="form-control" placeholder="Старый пароль"
                   type="password">
            <span ng-show="form.errors.old_password" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>

        <span ng-repeat="err in form.errors.new_password" style="color:#8A6D3B;">[% err %]<br/></span>

        <div class="form-group" ng-class="{'has-warning has-feedback': form.errors.new_password}">
            <input name="new_password" ng-model="form.fields.new_password" class="form-control" placeholder="Новый пароль"
                   type="password">
            <span ng-show="form.errors.new_password" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block [% form.btnSubmitSelector %] ladda-button"
                    ng-disabled="{{ form_name }}.$invalid"
                    data-style="zoom-out">
                <span class="ladda-label">Сменить пароль</span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
    </form>

{% endwith %}