{% with form_name='ForgotForm' %}

    <form name="{{ form_name }}" ng-submit="form.submit('{% url 'account:password_reset' %}')" role="form"
          ng-controller="{{ form_name }}Ctrl" class="form center-block">
        {% csrf_token %}
        <div class="alert alert-success" ng-show="form.success.get()" ng-bind-html="form.success.get()"></div>

        <div class="alert alert-danger" ng-show="form.errors.__all__">
            <span ng-repeat="err in form.errors.__all__">[% err %]<br/></span>
        </div>

        <span ng-repeat="err in form.errors.email" style="color:#8A6D3B;">[% err %]<br/></span>

        <div class="form-group" ng-class="{'has-warning has-feedback': form.errors.email}">
            <input name="email" ng-model="form.fields.email" class="form-control" placeholder="E-mail" type="text">
            <span ng-show="form.errors.email" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block [% form.loader.selector %] ladda-button"
                    ng-disabled="{{ form_name }}.$invalid" data-style="zoom-out">Отправить
            </button>
        </div>
    </form>

{% endwith %}