<div class="modal fade bs-example-modal-sm" id="login-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form name="LoginForm" ng-submit="submit()" ng-controller="LoginFormCtrl" role="form"
                      ng-init="submit_url='{% url 'pages:login' %}'" class="form center-block">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="email" ng-model="formData.email" class="form-control" ng-value="andrey"
                               placeholder="Email" type="text">
                    </div>
                    <div class="form-group">
                        <input name="password" ng-model="formData.password" class="form-control" placeholder="Пароль"
                               type="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-submit-login ladda-button"
                                ng-disabled="LoginForm.$invalid" data-style="zoom-out">
                            <span class="ladda-label">Войти</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <span class="pull-right">
                            <a href="#">Зарегистрироваться</a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>