<div class="modal fade bs-example-modal-sm" id="login-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-controller="LoginFormCtrl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form name="PatternForm" class="form center-block">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Пароль" type="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Войти</button>
                    </div>
                    <div class="form-group">
                        <span class="pull-right">
                            <a href="#">Зарегистрироваться</a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>